.container{
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 521px 521px;
    grid-template-rows: 284px 294px;
    justify-content: center;
    padding-left: 200px;
    gap: 20px;
}

.childBox{

    
    border-radius: 16px;
    Width: 521px;
    Height: 284px;
    border: 1px solid #EEEEEE;
    padding: 20px;
    text-align: left;
    /* background-color: #EEEEEE;
    filter: blur(1px);  */
    background-color: transparent;
}

p{
    display: block;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI';
}